body{
	text-align: center;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
}
ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
li{
	background-color: #E0DFE0;
	width: 100%;
	max-width: 500px;
	min-height: 30px;
	line-height: 30px;
	margin-bottom: 2px;
	cursor: pointer;
	transition: all 0.1s linear;
	font-family: "Courier New", Courier, monospace;
}
input[type="text"]{
	width: 100%;
	max-width: 400px;
	height:30px;
	padding-left: 5px;
	padding-right: 5px;
	color:gray;
}
li:hover{
	transform : scale(1.1);
}
h3, h4{
	color: white;
}