<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="css/main.css" rel="stylesheet" type="text/css">
	<script src="js/angular.min.js"></script>
</head>
<body ng-app="todo">

	<div ng-controller="todoController">
	<h3>{{title}}</h3>
	<h4><b>{{note}}</b></h4>
	<ul>
		<li ng-repeat="task in data.tasks" ng-click="data.delete($index)" title="delete"><span>{{task.description}}</span></li>
		<li>{{data.add}}</li>
		<input type="text" ng-model="data.add"  ng-keypress="data.keydown($event)">
	</ul>
	
	
	</div>

	<script src="js/app.js"></script>
</body>
</html>